In [2]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import numpy as np
import pandas as pd

# Otros objetivos
# -----------------------------------------------------------------------
import math

# Gráficos
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
 
# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
from sklearn.ensemble import RandomForestRegressor

import warnings
warnings.filterwarnings("ignore")

In [3]:
# Importamos el sopooporte de procesamiento de nuestro src
from src import soporte_preprocesamiento as sp

In [6]:
df = pd.read_csv("datos/api_rent_madrid.csv", sep=";", index_col=0)

In [7]:
df.head()

,numPhotos,price,propertyType,operation,size,exterior,rooms,bathrooms,address,province,...,superTopHighlight,topNewDevelopment,externalReference,floor,district,neighborhood,hasLift,parkingSpace,labels,newDevelopmentFinished
propertyCode,,,,,,,,,,,,,,,,,,,,,
98903350,33,550.0,chalet,rent,371.0,False,6,3,Numancia de la Sagra,Toledo,...,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91615378,12,750.0,flat,rent,60.0,True,1,1,"Calle de Alejandro Villegas, 23",Madrid,...,False,False,AV23,3,Hortaleza,Canillas,True,NaN,NaN,NaN
88363329,21,750.0,flat,rent,70.0,True,2,1,Gregorio izquierdo,Madrid,...,False,False,NaN,bj,Centro Urbano,NaN,False,NaN,NaN,NaN
98621753,28,400.0,penthouse,rent,67.0,True,2,2,Calle Madrid,Madrid,...,False,False,90004,2,NaN,NaN,False,NaN,NaN,NaN
98222714,22,450.0,flat,rent,89.0,False,2,1,Calle Arroyo,Toledo,...,False,False,RP1882022101719,2,NaN,NaN,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN

Vamos a hacer un análisis exploratorio de nuestro dataFrame para familiarizarnos con las carácterísticas de nuestras varia

In [8]:
sp.exploracion_datos(df)

El número de filas es 450 y el número de columnas es 37

----------

En este conjunto de datos tenemos 8 valores duplicados

----------

Los columnas con valores nulos y sus porcentajes son:

description                0.222222
hasVideo                   4.000000
status                     4.000000
newDevelopment             4.000000
priceByArea                4.000000
detailedType               4.000000
suggestedTexts             4.000000
hasPlan                    4.000000
has3DTour                  4.000000
has360                     4.000000
hasStaging                 4.000000
superTopHighlight          4.000000
topNewDevelopment          4.000000
externalReference         23.333333
floor                     18.666667
district                  24.888889
neighborhood              61.333333
hasLift                    6.888889
parkingSpace              68.888889
labels                    93.333333
newDevelopmentFinished    96.222222
dtype: float64

----------

Las principales estadísticas de las variables númericas son:

,count,mean,std,min,25%,50%,75%,max
numPhotos,450.0,21.900000,9.670346,0.0,15.00,21.0,28.00,72.0
price,450.0,671.797778,85.100603,340.0,640.00,700.0,740.00,750.0
size,450.0,68.237778,35.662557,20.0,47.25,62.0,80.00,371.0
rooms,450.0,1.700000,0.970041,0.0,1.00,2.0,2.00,6.0
bathrooms,450.0,1.213333,0.441500,1.0,1.00,1.0,1.00,3.0
distance,450.0,22455.771111,17001.691666,183.0,7104.25,20294.0,34979.75,59919.0
priceByArea,432.0,11.863426,5.360971,1.0,8.00,11.0,15.00,33.0

----------

Las principales estadísticas de las variables categóricas son:

,count,unique,top,freq
propertyType,450,6,flat,356
operation,450,1,rent,450
address,450,405,"Calle Valle de Ambles, 2",10
province,450,5,Madrid,358
municipality,450,96,Madrid,170
country,450,1,es,450
latitude,450,433,404.430.651,10
longitude,450,433,-34.659.877,10
description,449,427,VIVIENDA NUEVA PARA ALQUILER ¡Estrena hogar co...,10
hasVideo,432,2,False,314
status,432,3,good,413
newDevelopment,432,2,False,415
detailedType,432,10,{'typology': 'flat'},344
suggestedTexts,432,395,"{'subtitle': 'Suroeste, Torrejón de Ardoz', 't...",10
hasPlan,432,2,False,296
has3DTour,432,2,False,426
has360,432,2,False,345
hasStaging,432,1,False,432
superTopHighlight,432,1,False,432
topNewDevelopment,432,1,False,432
externalReference,345,335,CG-91792-0001,2
floor,366,13,1,95
district,338,96,Centro,48
neighborhood,174,74,Lavapiés-Embajadores,11
hasLift,419,2,True,234
parkingSpace,140,5,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",136
labels,30,1,"[{'name': 'apartamentoType', 'text': 'Apartame...",30
newDevelopmentFinished,17,2,True,12

----------

Las características principales del dataframe son:
<class 'pandas.core.frame.DataFrame'>
Index: 450 entries, 98903350 to 88490656
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   numPhotos               450 non-null    int64
 1   price                   450 non-null    float64
 2   propertyType            450 non-null    object
 3   operation               450 non-null    object
 4   size                    450 non-null    float64
 5   exterior                450 non-null    bool
 6   rooms                   450 non-null    int64
 7   bathrooms               450 non-null    int64
 8   address                 450 non-null    object
 9   province                450 non-null    object
 10  municipality            450 non-null    object
 11  country                 450 non-null    object
 12  latitude                450 non-null    object
 13  longitude               450 non-null    object
 14  showAddress             450 non-null    bool
 15  distance                450 non-null    int64
 16  description             449 non-null    object
 17  hasVideo                432 non-null    object
 18  status                  432 non-null    object
 19  newDevelopment          432 non-null    object
 20  priceByArea             432 non-null    float64
 21  detailedType            432 non-null    object
 22  suggestedTexts          432 non-null    object
 23  hasPlan                 432 non-null    object
 24  has3DTour               432 non-null    object
 25  has360                  432 non-null    object
 26  hasStaging              432 non-null    object
 27  superTopHighlight       432 non-null    object
 28  topNewDevelopment       432 non-null    object
 29  externalReference       345 non-null    object
 30  floor                   366 non-null    object
 31  district                338 non-null    object
 32  neighborhood            174 non-null    object
 33  hasLift                 419 non-null    object
 34  parkingSpace            140 non-null    object
 35  labels                  30 non-null     object
 36  newDevelopmentFinished  17 non-null     object
dtypes: bool(2), float64(3), int64(4), object(28)
memory usage: 127.4+ KB

None

Veamos gráfica y análiticamente las carácterísticas de las variables numéricas.